venv
neuralcoref
__pycache__
src/elevant/__pycache__
.idea
wikidata-types/*.ttl
wikidata-types/index/*
!wikidata-types/index/.gitkeep
wikidata-types/.*
evaluation-results/*
/logs/
tmp_forkserver.config.json
elevant_data*
elevant_data_doid
elevant_data_wiki